body {
    margin : 0;
    font-family : 'Titillium Web', sans-serif;
    background-color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothin: antialiased;
}
main{
    min-height: 80vh;
}